<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo Sviluppatore</title>
	</head>
<body>
	<h1>Aggiungi Sviluppatore</h1>
	<form th:action="@{/developers}" method="POST" th:object="${developer}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		<div>Nome: 
			<span><input required type="text" th:field="${developer.nameCompany}"/></span>
		</div>
		<div>Logo: 
			<span><input type="url" th:field="${developer.logo}"/></span>
		</div>
		<div>
			<button type="submit">Conferma</button>
			<button type="reset">Cancella</button>
		</div>
	</form>
</body>
</html>