<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo Gioco</title>
      <script>
        function mostraImmagine() {
            var select = document.getElementById("platforms");
            var selectedOptions = Array.from(select.selectedOptions);
            var container = document.getElementById("imageContainer");
            container.innerHTML = ""; // Pulisci il contenitore

            selectedOptions.forEach(function(option) {
                var img = document.createElement("img");
                img.src = "/images/" + option.value + ".jpg"; // Immagine associata all'opzione
                img.alt = option.value;
                container.appendChild(img);
            });
        }
      </script>
	</head>
<body>
	<div>
		<a href="/indexGame"><img src="/images/logo-games.jpeg" width="30%"/></a>
	</div>
	<h1>Aggiungi un Videogioco nel sistema</h1>
	<form th:action="@{/games}" method="POST" th:object="${game}">
		<div>
			<span th:text="${messaggioErrore}"></span>
		</div>
		<fieldset>
			<legend>Campi del videogioco:</legend>
		<div>Titolo:
			<span><input required type="text" th:field="${game.title}"/></span>
		</div>
		<div>Anno d'uscita:
			<span><input required type="text" th:field="${game.year}"/></span>
		</div>
		<div>Genere:
			<input type="radio" th:field="${game.genre}" value="Platform"><span>Platform</span>
			<input type="radio" th:field="${game.genre}" value="Adventure"><span>Avventura</span>
			<input type="radio" th:field="${game.genre}" value="Action"><span>Azione</span>
			<input type="radio" th:field="${game.genre}" value="Role-Playing"><span>Ruolistico</span>
			<input type="radio" th:field="${game.genre}" value="Shooter"><span>Sparatutto</span>
		</div>
		<div>Budget:
			<select th:field="${game.budget}">
				<option value="">Seleziona</option>
				<option value="Indie">Indie</option>
				<option value="DoppiaA">AA</option>
				<option value="TriplaA">AAA</option>
			</select>
		</div>
		<div>Sviluppatore:
			<ul>
				<li th:each="sviluppatore : ${developers}"><a>
					<input type="radio" th:field="${game.developer}" th:value="${sviluppatore.id}" th:text="${sviluppatore.nameCompany}">
				</a>
				</li>
			</ul>
		</div>
        <div>Piattaforme:
        <select id="platforms" th:field="${game.platforms}" multiple onchange="mostraImmagine()">
            <option value="">Seleziona</option>
            <option value="PC">PC</option>
            <option value="Xbox">Xbox</option>
            <option value="PlayStation">PlayStation</option>
            <option value="Nintendo">Nintendo</option>
        </select>
    </div>
    <div id="imageContainer"></div>
		<div>URL immagine: 
			<span><input type="url" th:field="${game.urlImage}"/></span>
		</div>
		<div>
			<button type="submit">Conferma</button>
			<button type="reset">Cancella</button>
		</div>
		</fieldset>
	</form>
</body>
</html>
