<!DOCTYPE html>
<html>

<head>
	<title>Premi da gestire</title>
</head>

<body>
	<div><a href="/indexAward"><img src="/images/logo-games.jpeg" width="50%" /></a></div>
	<h1>Premi in gestione:</h1>
	<div th:if="${awards.isEmpty()}">Non ci sono premi nel sistema</div>
	<ul>
		<li th:each="award : ${awards}">
			<span th:text="'Miglior gioco ' + ${award.type} + ' (' + ${award.year} + ')'"></span>
			<a th:href="@{'/formUpdateAward' + '/' + ${award.id} + '/' + ${award.type}}">Aggiorna premio</a>
		</li>
	</ul>
</body>

</html>