<!DOCTYPE html>
<html>
<head>
	<title>Pagina iniziale</title>
	
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Gestione Videogiochi</a>
					<ul>
						<li><a href="/formNewGame">Aggiungi Gioco</a></li>
						<li><a href="/games">Giochi nel sistema</a></li>
						<li><a href="/formSearchGames">Cerca giochi per anno</a></li>
					</ul>
				</li>
				<li><a href="/indexAward">Gestione Premi</a></li>
			</ul>
		</nav>
	</header>
	<div>
		<a href="/"><img src="/images/logo-games.jpeg" width="30%"/></a>
	</div>
</body>
</html>