<!DOCTYPE html>
<html>
<head>
	<title>Pagina iniziale Utente</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
	<header class="log">
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>
	<header>
		<nav>
			<ul>
				<li><a href="#">Gestione Videogiochi</a>
					<ul>
						<li><a href="/formNewGame">Aggiungi Gioco</a></li>
						<li><a href="/default/games">Giochi nel sistema</a></li>
						<li><a href="/formSearchGames">Cerca giochi per anno</a></li>
					</ul>
				</li>
				<li><a href="#">Gestione Premi</a>
					<ul>
						<li><a href="/default/awards">Premi nel sistema</a></li>
						<li><a href="/manageAwards">Aggiungi candidature ad un premio</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
	<div class="im">
	</div>
</body>
</html>