<!DOCTYPE html>
<html>
<head>
	<title>Pagina iniziale</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>
<body>
	<header class="log">
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

    <header>  
      <nav>
		<ul>
			<li><a href="#">Gestione Videogiochi</a>
				<ul>
					<li><a href="/default/games">Giochi nel sistema</a></li>
				</ul>
			</li>
			<li><a href="">Gestione Premi</a>
				<ul>
					<li><a href="/default/awards">Premi nel sistema</a></li>
				</ul>
			</li>
		</ul>
	  </nav>
    </header>  
	<div class="im">
	</div>
	
</body>
</html>