
SU FORM NEW GAME
<div>Budget: 
			<span><input required type="checkbox" th:field="${game.budget}"/></span>
		</div>
<div>Sviluppatore:
			<span th:if="${developers.isEmpty()}">Non è ancora possibile indicare lo Sviluppatore</span>
			<ul>
				<li th:each="developer : ${developers}">
					<input type="checkbox" id="developer.id" name="developer.id" value="developer.nameCompany">
    				<label for="developer.id"><span></span></label>
				</li>
			</ul>
    	</div>
   <div><label th:field="${game.developer}">Sviluppatore</label></div>
   

   SU GAME
   <div>Sviluppatore: 
			<span th:if="${game.developer}">
				<span th:text="${game.developer.nameCompany}">Nome Azienda</span>
			</span>
			<span th:unless="${game.developer}">Al momento indeterminato</span>
		</div>
		
	GENERALE
	<fieldset>
		<legend>Dati anagrafici</legend>
	</fieldset>
	
	<select name="pr" multiple>
		<option value="">Seleziona</option>	
	</select>
	
	CSS index
	
	body{
	font-family: sans-serif;
	}
nav{
	background: cyan;
	height: 50px; 
	width: 100%; 
	position: fixed; 
	top:0; 
	left:0;
	}
nav ul{
	list-style: none; 
	margin:0 auto; 
	padding: 0; 
	width: 100%; 
	max-width:1200px;
  }
nav ul ul {
  display: none;
  position: absolute;
  top:100%;
  left:0px;
  width:100%;
}
nav ul li{
  position:relative;
  float:left;
  top:18px;
  width:33.3%;
  text-align:center;
}
nav ul li a{
  color:blue;
  text-decoration: none;
}
nav ul li:hover ul{
  display:block;
}
nav ul li li{
  position: relative; 
  float: none; 
  width:100%;  
}
nav ul li ul li a {
  color:blue;
  background:cyan;
  text-decoration:none;
  padding:15px 15px;
  font-size:100%;
  border-top:solid 2px blue;
  border-right:solid 2px blue;
  border-left:solid 2px blue;

  
  float: left;
}
nav ul li ul li:third-child a{
   border-bottom:solid 2px blue;
}
 
 COPILOT
 
/* Stile per la barra del menù in cima alla pagina */
nav {
    background-color: cyan;
    height: 50px;
}

/* Stile per le sezioni del menù */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    padding: 0px 0px;
    height: 50px;
    width: 33.3%;
    line-height: 50px;
    text-align:center;
    border-right: 5px solid black; /* Sbarre nere di 5px */
}

/* Stile per il testo delle sezioni */
nav ul li a {
    text-decoration: none;
    color: blue; /* Testo blu */
}
nav ul li:hover a{
  color:grey;
  transition:0.5s;
}

/* Stile per il menù a tendina */
nav ul li ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: blue; /* Sfondo blu */
    width: 100%; /* Largo quanto la sezione "Gestione videogiochi" */
}

/* Mostra il menù a tendina al passaggio del mouse */
nav ul li:hover ul {
    display: block;
}

/* Stile per gli elementi del menù a tendina */
nav ul li ul li {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

/* Stile per il testo degli elementi del menù a tendina */
nav ul li ul li a {
    color: cyan; /* Testo ciano */
}
	