header.log {
  background-color:orange;
  text-align:right;
  margin-top:0px;
}
nav{
  background: darkorange;
  height: 50px;
  width:100%;
}
nav ul{
  list-style:none;
  margin:0;
  padding:0;
  width:100%;
}
nav ul ul{
  display:none;
}
nav ul li{
  position:relative; 
  float:left; 
  width:50%; 
  text-align:center;
}
nav ul li:hover ul{
  display:block;
}
nav ul li li{
  position:relative;
  width:100%;
  border:none;
}
nav ul li a {
  display:block;
  text-decoration:none;
  color: black;
  padding: 15px 25px;
  box-sizing:border-box;
  border-right: solid 2px;
  border-left:solid 2px;
}
nav ul ul li a{
  border-bottom: solid 10px;
}
nav ul ul li:first-child a{
  border-top: solid 2px;
}
nav ul li:hover a {
  transition: 0.5s;
}
nav ul li:hover a{
  background: yellow; 
  color:black;
}
div.im{
	background-image: url('/images/logo-games.jpeg');
	background-repeat: round;
	height:658px;
}

/* header {
  text-align: right;
    font-size: 20px;
    background: orange;
    height:25px;
}

nav {
  background:cyan;   
}

nav ul {
  list-style: none;
  display:flex;
  }

nav ul li {
  width: 50%;  
}

nav ul li ul {
  display:none;
}

nav ul li:hover ul {
  display:block;
  background: green;
  width:100%;  
}

nav ul li ul li {
  width:100%;
  text-align:left;
} */



