<!DOCTYPE html>
<html>
<head>
	<title>Sviluppatori nel sistema</title>
</head>
<body>
	<div>
		<a href="/"><img src="/images/logo-games.jpeg" width="30%"/></a>
	</div>
	<h1>Sviluppatori:</h1>
	<div th:if="${developers.isEmpty()}">Non ci sono sviluppatori nel sistema</div>
	<ul>
		<li th:each="developer : ${developers}">
			<a th:href="'/admin/' + @{'developer' + '/' + ${developer.id}}"
				th:text="${developer.nameCompany}"> 
			</a>
			<a th:href="'/admin/deleteDeveloper/' + @{${developer.id}}"><button type="button">Elimina</button></a>
		</li>
	</ul>
	<div><a href="/admin/formNewDeveloper"><button type="button">Aggiungi sviluppatore</button></a></div>
</body>
</html>