<!DOCTYPE html>
<html>
<head>
	<title>
		Update Award Admin
	</title>
</head>
<body>
	<div><a href="/"><img src="/images/logo-games.jpeg" width="50%" /></a></div>
	<h1>Aggiorna Premio</h1>
	<div th:if="${award}">
		<div>
			<span th:text="${award.type}"></span>
			<span th:text="' (' + ${award.year} + ')'"></span>
		</div>
		<div>
			<span>Candidati: </span>
			<div th:each="nomination: ${award.nominations}">
				<span th:text="${nomination.title} + ' ' + ${nomination.year}"></span>
			</div>
		</div>
		<div th:if="${award.winner}">
			<span>Vincitore: </span><span th:text="${award.winner.title}"></span>
			<a th:href="@{'/addWinner/' + ${award.id}}">Modifica vincitore</a></span>
		</div>
		<div th:unless="${award.winner}">
			<a th:href="@{'/addWinner/' + ${award.id}}">Scegli vincitore del premio</a>
		</div>
	</div>
	<div th:unless="${award}">Premio non esistente</div>
</body>

</html>