<!DOCTYPE html>
<html>
	<head>
		<title>Nuovo Premio</title>
	</head>
<body>
	<div>
		<a href="/"><img src="/images/logo-games.jpeg" width="30%"/></a>
	</div>
	<h1>Aggiungi Premio</h1>
	<form th:action="@{/awards}" method="POST" th:object="${award}">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		<div>Tipologia: 
			<span><input required type="text" th:field="${award.type}"/></span>
		</div>
		<div>Anno: 
			<span><input type="text" th:field="${award.year}"/></span>
		</div>
		<div>
			<button type="submit">Conferma</button>
			<button type="reset">Cancella</button>
		</div>
	</form>
</body>
</html>